.conteneur {
	-fx-border-width:50;
}
#vue-racine {
	-fx-border-color:darkred;
	-fx-background-color: black;
	-fx-alignment: center;
}
.gros-bouton {
	-fx-cursor: hand;
}
#bouton-retour {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.titre-page {
	-fx-fill: white;
	-fx-font-size: 2.5em;
}

#titre {
	
	
}
#vue-file-attente {
	-fx-background-color: white;
	-fx-border-color:darkblue;
}

.petit-espace-vertical {
	-fx-min-height:10;
	-fx-background-color:pink;
	-fx-opacity:0.2;
}

.grand-espace-vertical {
	-fx-min-height:30;
	-fx-background-color:pink;
	-fx-opacity:0.2;
}

.grand-espace-horizontal {
	-fx-min-height:30;
	-fx-background-color:pink;
	-fx-opacity:0.2;
}

.conteneur-parent{
	-fx-border-color:black;
}

#conteneur-rendez-vous{
	-fx-min-height:100;
	-fx-min-width:100;
	-fx-aligment:top-center;
}

.page-touche {
   -fx-padding: 8 15 15 15;
   -fx-background-color: derive(black, 75%);
   -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
   -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
   -fx-background-radius: 8;
}

.label-nom-joueur{
   -fx-text-fill: derive(black, 25%);
   -fx-font-size:3em;
}
.scroll-bar {
   -fx-background-color: transparent;
   -fx-border-color: transparent;
}

.scroll-bar .track {
   -fx-background-color: derive(black, 75%);
   -fx-border-color: transparent;
   -fx-background-radius: 8;
}

.scroll-bar .thumb {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button,
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow,
.scroll-bar .corner {
    -fx-shape : " ";    
    -fx-background-color: transparent;
    -fx-visibility: hidden;
}









