.conteneur {
	-fx-border-width:50;
}
#vue-racine {
	-fx-border-color:darkred;
	-fx-background-color: black;
	-fx-alignment: center;
}
.gros-bouton {
	-fx-cursor: hand;
}
#bouton-retour {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.titre-page {
	-fx-fill: white;
	-fx-font-size: 2.5em;
}

#titre {
	
	
}
#vue-file-attente {
	-fx-border-color:darkblue;
}
